<div class="clearfix">
<div class="smalltitle">
  <a href="index.html">TED MACKERETH</a>
</div>
<div class="topnav small">
    <a class="item" href="research.html">RESEARCH</a>
    <a class="break">/</a>
    <a class="item" href="cv.html">CV</a>
    <a class="break">/</a>
    <a class="item" href="about.html">ABOUT</a>
    <a class="break">/</a>
    <a class="item" href="blog.html">BLOG</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
   <i class="fa fa-bars"></i>
    </a>
</div>
</div>
